{% extends "layout.html" %}

{% block title %}Execute Command{% endblock %}

{% block content %}
<h1>Execute Command on {{ server.name }}</h1>

<form id="runCommandForm" action="{{ url_for('main.execute_command', server_id=server.id) }}" method="POST" class="form">
    <div class="form-group">
        <label for="command">Command:</label>
        <input type="text" id="command" name="command" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-danger">Run Command</button>
</form>

<a href="{{ url_for('main.view_servers') }}" class="btn btn-secondary mt-3">Back to Server List</a>
{% endblock %}
