<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ServerScope{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='content/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='content/site.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">ServerScope</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.view_servers') }}">Servers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.scan_network') }}">Scan Network</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.view_scan_reports') }}">Scan Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.splunk_logs') }}">Splunk Logs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.about') }}">About</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <!-- jQuery and Bootstrap JS -->
    <script src="{{ url_for('static', filename='scripts/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}"></script>
</body>
</html>
