{% extends "layout.html" %}

{% block title %}
    Logged Out
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="jumbotron text-center">
                <h1 class="display-4">You have been logged out</h1>
                <p class="lead">Thank you for using ServerScope!</p>
                <hr class="my-4">
                <p>You can <a href="{{ url_for('auth.login') }}">log in again</a> or <a href="{{ url_for('main.index') }}">return to the homepage</a>.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
